body{
    background-color: #bda8a8;
    text-align: center;
    
}
.hola{
    background-color: #fff;
    width: 300px;
    padding: 10px;
    position:relative;
    
    box-shadow: 0px 5px 10px  #333;
    -webkit-box-shadow: 0px 5px 10px #333;
    -moz-box-shadow: 0px 5px 10px #333;
    justify-content: center;

}